<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand active" routerLink="auth/signin">Bienvenue</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="auth/signin">Se connecter</a>
      </li>
      <li>
        <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
      </li>
      <li class="nav-item">
        <div ngDropDown class="d-inline-block">
          <button class="nav-link" id="dropdownButton" ngbDropdownToggle>Livres</button>
          <div ngDropdownMenu aria-labelledby="dropdownButton" *ngFor="let book of books; let i = index">
            <button class="dropdown-item">{{book}}</button>
          </div>
        </div>
      </li>
    </ul>
    <button class=" btn btn-danger right" id="deco"
            (click)="onSignOut()"
            *ngIf="isAuth">Déconnexion
    </button>
  </div>
</nav>

<!--<ul role="toolbar" class="nav nav-tabs">-->
<!--<li role="presentation" routerLinkActive="active" class="active">-->

<!--</li>-->
<!--<li role="presentation" routerLinkActive="active" class="active">-->

<!--</li>-->
<!--</ul>-->
