<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand active" routerLink="auth/signin">Bienvenue</a>
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link menu-item" routerLink="auth/signin">Se connecter</a>
      </li>
      <li>
        <a class="nav-link menu-item" routerLink="auth/signup">Créer un compte</a>
      </li>
    </ul>
  </div>
  <button class=" btn btn-danger right" id="deco"
          (click)="onSignOut()"
          *ngIf="isAuth">Déconnexion
  </button>
</nav>
