#mainNav {
  background-color: #212529;
  margin-bottom: 100px;
  position: inherit;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #569afe;
  font-family: "Segoe UI";
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: "Segoe UI";
}

#mainNav .navbar-nav .nav-item .deco {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: "Segoe UI";
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #569afe;
}

#mainNav .navbar-nav .nav-item .deco.active, #mainNav .navbar-nav .nav-item .deco:hover {
  color: #fe1520;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 0;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav .navbar-nav .nav-item .deco {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

img {
  width: 200px;
  height: 100px;
}

#events {
  margin-right: 10px;
}

span {
  margin-right: 10px;
}
