<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="footer">
        <a class="footer-link" href="https://norsys-daily.norsys.fr"><i class="fa fa-calendar" aria-hidden="true"></i> NORSYSDAILY</a>
        <a class="footer-link" href="https://norsysways.norsys.fr/"><i class="fa fa-road" aria-hidden="true"></i> NORSYSWAYS</a>
        <a class="footer-link" href="https://rocket.norsys.fr/"><i class="fa fa-commenting-o" aria-hidden="true"></i> ROCKET</a>
        <a class="footer-link" href="http://in.norsys.fr/"><i class="fa fa-desktop" aria-hidden="true"></i> INTRANET</a>
        <a class="pull-right" href="https://www.norsys.fr/">&copy; NORSYS 2018</a>
      </div>
    </div>
  </div>
</footer>
