<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <img src="../../assets/logo.png" alt="logo tricount">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner_content text-center">
            <h2 class="mt-4 mb-5">
              CONTRÔLEZ VOS ACTIVITES AVEC VOS AMIS
            </h2>
            <div>
              <button class="btn btn-light">Se connecter</button>
              <button class="btn btn-light" style="margin-left: 5px;">S'authentifier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
