#btn-browse {
  background-color: #5c4084;
  border-color: #5c4084;
  border-radius: initial;
  border-bottom-right-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

#btn-browse:hover {
  background-color: #580c6d;
  border-color: #580c6d;
  outline: none;
}

.input-group-text {
  border-radius: 1.25rem;
}

