<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouveau paiment</h2>
    <form [formGroup]="paimentForm" (ngSubmit)="onSavePaiment()">
      <div class="form-group">
        <label for="lib">Libellé du paiement</label>
        <input type="text" id="lib"
               class="form-control" formControlName="lib">
      </div>
      <div class="form-group">
        <label for="amount">Montant</label>
        <input id="amount" type="number" class="form-control" formControlName="amount">
      </div>
      <div class="form-group">
        <label>Payé par</label>
        <form [formGroup]="listGiver"></form>
        <mat-select class="form-control" [formControl]="give">
          <mat-option *ngFor="let user of participatesEvent" [value]="user">
            {{user.pseudo}}
          </mat-option>
        </mat-select>
      </div>
      <div class="form-group">
        <label>Pour</label>
        <form [formGroup]="listReceiver"></form>
        <mat-select class="form-control" id="participants" [formControl]="receive" multiple>
          <mat-option *ngFor="let user of participatesEvent" [value]="user">
            {{user.pseudo}}
          </mat-option>
        </mat-select>
      </div>
      <button class="btn btn-success" [disabled]="paimentForm.invalid"
              type="submit">Enregistrer
      </button>
    </form>
    <p>{{errorMessage}}</p>
  </div>
</div>
