h2 {
  color: white;
  border: 2px solid white;
  text-align: center;
}

.buttons {
  display: flex;
  margin: 16px 0;
  flex-direction: row;
  flex: 1 1 12%;
  justify-content: space-between;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.mat-expansion-panel {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  margin: 3px;
}

.mat-panel-title, .mat-panel-description {
  color: white;
  font-weight: bold;
}

.mat-action-row {
  border-top: 1px solid white;
}
