<accordion>
  <accordion-group
    heading="{{payment.giver.pseudo}} a donné {{payment.amount}} pour {{payment.lib}} le {{payment.datePay | date: 'EEEE dd LLLL'}}"
    *ngFor="let payment of payments">
    <h5>Bénéficiaires</h5>
    <ul>
      <li *ngFor="let user of payment.userReceivers">{{user.pseudo}}</li>
    </ul>
  </accordion-group>
</accordion>

<div class="buttons">
  <div>
    <button type="button" class="btn btn-labeled btn-warning" routerLink="/events">
      <span class="btn-label"><i class="fas fa-chevron-left"></i></span> Retour
    </button>
  </div>

  <div>
    <button class="btn btn-outline-primary" id="addEvent" (click)="addPayment()"><span
      class="btn-label btn-label-left pull-left"><i class="fas fa-plus-circle"></i></span>Ajouter un paiement
    </button>
  </div>
</div>
