.blockquote {
  font-style: italic;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana, serif;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

#h1 {
  text-align: center;
}

#h3 {
  text-align: center;
}

.flotte {
  float: right;
  border-left: 1px solid dimgrey;
  border-bottom: 1px solid dimgrey;
}

.content {
  line-height: 20px;
}
