<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h2>Vos évènements</h2>
      </div>
      <div class="card-body">
        <p *ngIf="!events || events.length === 0">Vous n'avez pas encore d'évenèments. Cliquez sur le bouton "Ajouter un évènement"</p>
        <button id="event" class="list-group-item btn btn-light" *ngFor="let event of events;" (click)="onViewEvent(event)">
          <h3 class="list-group-item-heading" style="text-align: center;">
            {{ event.title }}
          </h3>
          <label style="font-style: italic;">{{ event.date_creation | date: 'EEEE dd LLLL'}}</label>
          <!--<button type="button" class="btn btn-labeled btn-danger" id="trash">-->
            <!--<span class="btn-label"><i class="fas fa-trash"></i></span> Supprimer</button>-->
        </button>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-labeled btn-warning" routerLink="/homepage">
          <span class="btn-label"><i class="fas fa-chevron-left"></i></span> Retour</button>
        <button class="btn btn-outline-primary" id="addEvent" (click)="onNewEvent()"><span
          class="btn-label btn-label-left pull-left"><i class="fas fa-plus-circle"></i></span>Ajouter un évènement
        </button>
      </div>
    </div>
  </div>
</div>
