#addParticipate {
  margin-top: 10px;
  position: absolute;
  height: 35px;
  width: 250px;
  right: 0;
}

.labelInfo {
  right: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex: 1 1 12%;
  justify-content: space-between;
}
